{
  "global": {
    "rec-reg": 0.001,
    "rec-zreg": 0.001,
    "svr": true,
    "reg-iter": 10,
    "lbreg": 0.01
  },
  "epochs": [
    {
      "svr": false,
      "rec-iter": 3,
      "reg-scale": 3.0
    },{
      "svr": false,
      "rec-iter": 3,
      "reg-scale": 2.4
    },{
      "svr": true,
      "rec-iter": 4,
      "reg-scale": 1.9
    },{
      "svr": true,
      "rec-iter": 5,
      "reg-scale": 1.5
    },{
      "svr": true,
      "rec-iter": 10,
      "reg-scale": 1.2
    },{
      "svr": true,
      "rec-iter": 25
    }
  ]
}
